@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer utilities{
  .footer-item{
    @apply my-4 cursor-pointer hover:ml-2 duration-300 ease-in-out transition-all before:mr-3 hover:before:content-['//'] before:text-red-500 hover:before:duration-1000
  }
}